<div class="container">
      <h1>About Riff-it</h1>
  <div class="jumbotron">
    <div class="row">
      <h2>Created by: <a href="https://www.linkedin.com/in/morganriffer">Morgan Riffer</a></h2>
      <h2>Based on a tutorial leading to the following: <a href="http://bloccit-example.herokuapp.com/">Sample Application</a></h2>
    </div>
  </div>
    <div class="row">
      <div class="col-md-11 col-offset-1 pull-right">
      <h3>Explore the site to see added functionality (member@example.com, helloworld).</h3>
      <h3>View planned features in the <a href="https://github.com/TechnologyRiff/red">GitHub Repo</a>.</h3>
    </div>
  </div>
</div>